<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.chillandcode.model.dao.CommentDao">

	<!-- 댓글 등록 -->
	<insert id="insert" parameterType="Comment"
		useGeneratedKeys="true" keyProperty="commentId">
		INSERT INTO comment (post_id,
		user_id, content)
		VALUES (#{postId}, #{userId}, #{content})
	</insert>

	<!-- 댓글 목록 조회 -->
	<select id="selectByPostId" resultType="com.ssafy.chillandcode.model.dto.comment.CommentResponse">
		SELECT c.comment_id,
		c.post_id, c.user_id, c.content, u.nickname,
		u.profile_image_url,
		c.created_at
		FROM comment c
		JOIN users u ON c.user_id = u.user_id
		WHERE c.post_id = #{postId}
	</select>

	<!-- 내가 쓴 댓글 조회 -->
	<select id="selectByUserId" parameterType="Long"
		resultType="com.ssafy.chillandcode.model.dto.comment.CommentResponse">
		SELECT
		c.comment_id,
		c.post_id,
		c.user_id,
		c.content,
		c.created_at,
		u.nickname,
		u.profile_image_url,
		p.title AS post_title
		FROM comment c
		JOIN users u ON c.user_id = u.user_id
		JOIN post p ON c.post_id = p.post_id
		WHERE c.user_id = #{userId}
		ORDER BY c.created_at DESC
	</select>


	<!-- 댓글 상세 조회 -->
	<select id="selectByCommentId" resultType="Comment">
		SELECT comment_id,
		post_id, user_id, content, created_at
		FROM comment
		WHERE comment_id =
		#{commentId}
	</select>

	<!-- 댓글 수정 -->
	<update id="update" parameterType="Comment">
		UPDATE comment
		SET content =
		#{content}
		WHERE comment_id = #{commentId}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="delete" parameterType="Long">
		DELETE FROM comment WHERE
		comment_id = #{commentId}
	</delete>
</mapper>
