<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.chillandcode.model.dao.LikeDao">

	<!-- 좋아요 추가 -->
	<insert id="insert" parameterType="com.ssafy.chillandcode.model.dto.like.PostLike" useGeneratedKeys="true" keyProperty="likeId">
		INSERT INTO post_like(post_id, user_id)
		VALUES(#{postId}, #{userId})
	</insert>

	<!-- 좋아요 삭제 -->
	<delete id="delete">
		DELETE FROM post_like
		WHERE post_id = #{postId} AND user_id = #{userId}
	</delete>

	<!-- 좋아요 여부 확인 -->
	<select id="selectByPostIdAndUserId" resultType="com.ssafy.chillandcode.model.dto.like.PostLike">
		SELECT like_id, post_id, user_id, created_at
		FROM post_like
		WHERE post_id = #{postId} AND user_id = #{userId}
	</select>

	<!-- 게시글 좋아요 개수 조회 -->
	<select id="countByPostId" resultType="int">
		SELECT COUNT(*)
		FROM post_like
		WHERE post_id = #{postId}
	</select>

</mapper>

