<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ssafy.chillandcode.recommend.place.PlaceRepository">


	<select id="findByRegionAndBudget"
    resultType="com.ssafy.chillandcode.recommend.place.PlaceFeatureView">
    <!-- trend_score는 0~100 정규화 전제로 사용됨. 스케일 변경 시 Wt 또는 정규화만 조정. -->
    SELECT
        place_id        AS placeId,
        name,
        workspace_count AS workspaceCount,
        nature_score    AS natureScore,
        activity_score  AS activityScore,
        trend_score     AS trendScore,
        price_level     AS priceLevel,
        sido,
        place_type      AS placeType,
        img_url         AS imageUrl
    FROM place
    <where>
      <if test="sido != null and sido != ''">
        AND sido IN
        <foreach collection="sidoList" item="region" open="(" separator="," close=")">
          #{region}
        </foreach>
      </if>
      AND price_level BETWEEN #{minPriceLevel} AND #{maxPriceLevel}
    </where>
</select>


</mapper>
